/*
*creating the header
*/
 nav{
     background-color:inherit;
     color: #FFFFFF;
     font-family: 'Montserrat', sans-serif;
     font-weight: bolder;
     padding: 40px 50px;
     height: 60px;
     width: 1326px;
     position: fixed;
     margin-top: 0;
 }

 .menu{
   width: 50px;
   padding: 10px;
   color: #FFFFFF;
   position: relative;
   left: 700px;
   font-size: 20px;
   font-weight: bold;
 }
 .menu:hover{
   color:#FF00BF;
 }

 #lyft{
   position: relative;
   left: 50px;
 }


/*
*creating the header
*/
 h3{
   font-size: 30px;
   font-weight: bolder;
 }


#log{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

/*
*creating the head
*/
.head{
  background-color: linear-gradient(#76278F, #2B1E66);
  display: inline-block;

   }
.img{
  background-image: url("https://preview.ibb.co/bL2fYR/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  width: 1350px;
   }
.input{
  color: #352384;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  float: right;
  height: 380px;
  margin-top: 140px;
  padding: 30px;
  text-align: center;
  width: 500px;
}
.buttom{
  border: 1px solid #000;
  border-radius: 10px;
  float: left;
  height: 40px;
  left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 150px;
}
.buttom:hover{
  background-color: #FF00BF;
  color: #FFFFFF;
}
.input>p{
  display: inline-block;
  font-size: 10px;
  float: left;
  padding-left: 50px;
}
.links{
  color: #FF00BF;
}

/*
*header
*/
.header{
 background-image: linear-gradient(#76278F, #2B1E66);
 height: 700px;
 width: 1326px;
 }
 #image{
   float: right;
   margin: 10px 80px;
   padding: 50px;
   position: relative;
   top: 20px;
}
.text{
  background-color: inherit;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  float: left;
  height: 600px;
  position: relative;
  text-align: left;
  left: 80px;
  line-height: 5px;
  letter-spacing: 1px;
  margin: 30px 30px;
  width: 500px;
}

/*
*adding videos and text
*/
.video{
  height: 700px;
  width: 1326;
}
.more{
  color: #FF00BF;
}
.video-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  float: left;
  height: 400px;
  padding-top: 200px;
  padding-left: 50px;
  text-align: left;
  width: 350px;
}

.video-1,.video-3{
  float: right;
  right: 30px;

  }
.video-2{
  float: left;
  left: 30px;
}
#video-text-2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 350px;
  height: 400px;
  float: right;
  text-align: left;
  padding-top: 200px;
  padding-left: 50px;
}



/*
*main
*/
.main{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  height: 400px;
  padding: 30px;
  padding-left: 100px;
  width: 1300px;
}
.main > span{
  float: left;
  font-size: 20px;
  height: 400px;
  width: 600px;
}
.learn{
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  float: left;
  margin-top: 60px;
  padding: 10px;
  width: 150px;
}
.learn:hover{
  background-color: #C0C0C0;
}
.learn-2{
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  float: left;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  width: 150px;
}
.learn-2:hover{
  background-color:#C0C0C0;
}

/*
*foot
*/
.foot{
  background-color: #352384;
  font-size: 20px;
  height: 400px;
  left: 20px;
  padding: 20px;
  width: 1326;
}
.text-fo{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin: 50px 60px;
}
#serve{
  color: #FF00BF;
}

/*
*footer
*/
footer{
  background-color:#333447;
  font-family: 'Montserrat', sans-serif;
  height: 700px;
  width: 1326;
}
.column-1{
  color: #FFFFFF;
  float: left;
  margin: 40px;
  padding-left: 50px;
}
.column-1 >p:hover{
  color: #FF00BF;
}
.column{
  color: #FFFFFF;
  float: left;
  margin: 40px;
  padding-left: 50px;
}
.column > h4{
  color:  #728099;
  font-weight: bolder;
}
.column-img{
  float: right;
  padding: 90px 90px;
}
.fa{
  border: 1px solid #FFFFFF;
  border-radius: 90%;
  color: #FFFFFF;
  padding: 10px;
  margin: 15px;
  margin-top: 100px;
}
.hov:hover{
  color: #FF00BF;
}
.link{
  margin: 10px;
}
.link:hover{
  color: #FF00BF;
}

#end{
  color: #FFFFFF;
  height: 400px;
  width: 700px;
  position: relative;
  left: 300px;
}
#foot {
  bottom: 50px;
  color: #FFFFFF;
  float: none;
  margin-bottom: 0px;
  text-align: center;
}
